:root {
  --white: #f9faff;
  --platinum: #e3e4e8;
  --windsurfing: #32779b;
  --marina: #5a91c7;
  --gray: #9a9a9a;
  --onyx: #3c3d44;
  --charcoal: #343c47;
  --corners: 24px 0;
  --corners-small: 10px 0;
  --base-font-size: 1rem;
  --ld-bkgd: light-dark(var(--platinum), var(--charcoal));
  --ld-text: light-dark(var(--onyx), var(--white));
  --ld-projects: light-dark(var(--white), #2e313d);
  --ld-blue: light-dark(var(--windsurfing), #6dadd0);
}
html {
  box-sizing: border-box;
  color-scheme: light dark;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: var(--base-font-size);
  font-family: 'Inter', sans-serif;
  background-color: var(--ld-bkgd);
  color: var(--ld-text);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  margin: 0;
  font-size: calc(var(--base-font-size) * 2.9);
}

h2 {
  margin: 0;
  font-size: var(--base-font-size);
  text-transform: uppercase;
  color: var(--ld-blue);
  letter-spacing: 0.25em;
}

h3 {
  margin: 0;
}

p {
  line-height: 1.5;
}

a {
  color: var(--ld-blue);
}

a:hover {
  color: var(--marina);
}

img {
  max-width: 100%;
  border-radius: var(--corners);
}

.icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
}

ul svg {
  width: 36px;
  height: 36px;
}
.social {
  fill: var(--ld-blue);
}

.social:hover {
  fill: var(--marina);
}

.main-article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  text-align: center;
}

.main-article img {
  margin: 0 auto;
  /* object-fit: cover;
  object-position: top; */
  width: auto;
  height: 300px;
  /* overflow: hidden; */
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

ul {
  list-style: none;
  text-align: center;
  line-height: 2rem;
  padding: 0;
  /* margin: 0; */
}

section h3 {
  font-size: calc(var(--base-font-size));
}

.contact-list .social {
  fill: var(--ld-blue);
}

.contact-list .social:hover {
  fill: var(--marina);
}

main {
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.project {
  background-color: var(--ld-projects);
  padding: 3rem;
  border-radius: var(--corners);

  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.projects {
  margin-top: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
}

.project ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}

.project li {
  background-color: var(--marina);
  color: var(--white);
  padding: 0.5rem;
  border-radius: var(--corners-small);
  font-size: calc(var(--base-font-size)) * 0.85;
}

.project img {
  grid-row: 1/2;
  border: 1px solid var(--onyx);
}

@media (min-width: 750px) {
  :root {
    --base-font-size: 1.125rem;
  }
  h1 {
    margin-left: -3px;
  }
  .wrapper {
    padding: 5rem;
  }

  .main-article {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
  }
  .main-article img {
    max-height: 400px;
    margin: 0 0 0 auto;
    height: auto;
    /* object-fit: none;
    object-position: none;
    height: auto;
    width: auto;
    overflow: auto; */
  }

  footer {
    align-items: flex-start;
  }
  footer div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  ul {
    text-align: start;
    padding: 0;
  }
  .contact {
    display: flex;
    align-items: flex-start;
  }

  .icons {
    justify-content: flex-start;
  }
}

@media (min-width: 850px) {
  main {
    text-align: left;
  }
  .project {
    grid-template-columns: 1fr 1fr;
  }

  .project img {
    grid-row: auto;
  }

  .project ul {
    justify-content: flex-start;
  }
}
