@import './base.css';

.speakers .main__title {
  font-size: 128px;
}

.shopping-cart-icon--primary g path {
  fill: var(--color-primary);
}

.speakers__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 200px;
  grid-row-gap: 120px;
}

.speaker__wrapper {
  max-width: 460px;
}

.speaker__photo {
  width: 310px;
  height: 310px;
  object-fit: cover;

  margin-bottom: 36px;
}

.speaker__photo-top {
  object-position: top;
}

.speaker__name {
  font-size: 32px;
  margin-bottom: 20px;
}

.speaker__company {
  font-size: 24px;
  color: var(--color-text-on-secondary);
  margin-bottom: 32px;
}

.speaker__bio {
  font-size: 20px;
  color: var(--color-text-on-secondary);
}

@media (max-width: 1000px) {
  .speaker__wrapper {
    min-width: 300px;
  }

  .main {
    padding: 90px;
  }
  .speakers .main__title {
    font-size: 80px;
  }
  .speakers__wrapper {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    grid-column-gap: 30px;
    grid-row-gap: 70px;
  }

  .speaker__photo {
    width: 260px;
    height: 260px;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .speaker__name {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .speaker__company {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .speaker__bio {
    font-size: 24px;
  }
}

@media (max-width: 840px) {
  .nav {
    background-color: var(--color-text-on-primary);
  }
}

@media (max-width: 600px) {
  .main {
    padding: 40px;
  }
  .speakers .main__title {
    font-size: 36px;
  }
  .speakers__wrapper {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    grid-column-gap: 0;
    grid-row-gap: 70px;
  }

  /* .speaker__wrapper {
    max-width: none;
  } */

  .speaker__photo {
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .speaker__name {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .speaker__company {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .speaker__bio {
    font-size: 16px;
  }
}
